
@{
    QuanLyNhanVienContext context = new QuanLyNhanVienContext();
    List<ChucVu> getListChucVu()
    {
        return context.ChucVu.Where(x => x.Active == true).ToList();
    }
    string formatDay(DateTime? date)
    {
        if (date != null)
        {
            return date.Value.ToString("dd/MM/yyyy");
        }
        else
        {
            return null;
        }
    }
}
@if (TempData["ThongBao"] != null)
{
    <script type="text/javascript" charset="utf-8">
                        window.onload = function () {
                            alert("@Html.Raw(@TempData["ThongBao"])");
                    };
    </script>
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="row position-absolute" style="margin-top: -10px">
                    <div class="col-sm-auto pe-2">
                        <a href="/ChucVu/ThemChucVu" class="btn btn-primary">
                            <span>Thêm Mới</span>
                        </a>
                    </div>
                    <div class="col-sm-auto pe-2">
                        <select class="form-select" name="" id="TinhTrang">
                            <option value="1" selected>Hiện tại</option>
                            <option value="2">Đã xóa</option>
                        </select>
                    </div>
                </div>
                <table id="example"
                       class="display table table-bordered"
                       style="width: 100%">
                    <thead>
                        <tr>
                            <th class="text-center">Mã CV</th>
                            <th class="text-center">Chức vụ</th>
                            <th class="text-center" width="30%">Tùy chọn</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        @foreach (ChucVu cv in ViewBag.ChucVu)
                        {
                                <tr>
                                    <td class="text-center">@cv.MaCv</td>
                                    <td class="text-start">@cv.TenChucVu</td>
                                    <td class="text-center d-flex justify-content-evenly">
                                        <a href="/ChucVu/SuaChucVu/@cv.Id">
                                            Chỉnh sửa <i class="bx bx-edit-alt"></i>
                                        </a>

                                        <a href="/ChucVu/XoaChucVu/@cv.Id"
                                           onclick="return confirm('Bạn có xoá dịch vụ vận chuyển này?')">
                                            Xóa
                                            <i class="bx bx-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $('#TinhTrang').on('change', function() {
        var TrangThai = $(this).val();
        $.ajax({
        type: "post",
        url: "/ChucVu/DoiTrangThai",
        data: "trangthai=" + TrangThai,
        success: function (response) {
             var table = $('#example').DataTable();
        // Clear existing rows from the DataTable
        table.rows().remove().draw();
      $.each(response, function (index, cv) {
    var row = `<tr>
                    <td class="text-center">${cv.maCv}</td>
                    <td class="text-start">${cv.tenChucVu}</td>
                    <td class="text-center d-flex justify-content-evenly">
                        <a href="/ChucVu/SuaChucVu/${cv.id}">
                            Chỉnh sửa <i class="bx bx-edit-alt"></i>
                        </a>
                        ${cv.active ?
                                `<a href="/ChucVu/XoaChucVu/${cv.id}" onclick="return confirm('Bạn có xoá dịch vụ vận chuyển này?')">Xóa <i class="bx bx-trash"></i></a>` :
                                `<a href="/ChucVu/Khoiphuc/${cv.id}" onclick="return confirm('Bạn có khôi phục dịch vụ vận chuyển này?')">Hoàn tác <i class="bx bx-redo"></i></a>`
                        }

                    </td>
                </tr>`;
            // Thêm dòng mới vào DataTable và vẽ lại DataTable
            $('#example').DataTable().row.add($(row)[0]).draw(false);
        });
        },
        error: function (error) {
            console.log(error);
        }
    });
    })
</script>