USE [QuanLyNhanVien]
GO
/****** Object:  Table [dbo].[BaoHiem]    Script Date: 5/15/2023 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoHiem](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaBH] [char](10) NOT NULL,
	[TGAD] [date] NULL,
	[MucBaoHiem] [float] NULL,
 CONSTRAINT [PK_BaoHiem] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 5/15/2023 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaCV] [char](10) NOT NULL,
	[TenChucVu] [nvarchar](100) NULL,
 CONSTRAINT [PK_ChucVu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DMHeSoPhuCap]    Script Date: 5/15/2023 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DMHeSoPhuCap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaHSPC] [char](10) NOT NULL,
	[HeSoPhuCap] [float] NULL,
 CONSTRAINT [PK_DMHeSoPhuCap] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DMHSLuong]    Script Date: 5/15/2023 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DMHSLuong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaHSL] [char](10) NOT NULL,
	[HeSoLuong] [float] NULL,
 CONSTRAINT [PK_DMHSLuong] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DMLuong]    Script Date: 5/15/2023 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DMLuong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaML] [char](10) NOT NULL,
	[TienLuong] [money] NULL,
	[NgayAD] [date] NULL,
 CONSTRAINT [PK_DMLuong] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DMMucPhuCap]    Script Date: 5/15/2023 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DMMucPhuCap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaPC] [char](10) NOT NULL,
	[KhoanPhuCap] [nchar](50) NULL,
 CONSTRAINT [PK_DMMucPhuCap] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DongBaoHiem]    Script Date: 5/15/2023 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DongBaoHiem](
	[id] [int] NOT NULL,
	[MaNS] [int] NULL,
	[ThoiGian] [date] NULL,
	[TienBH] [money] NULL,
 CONSTRAINT [PK_DongBaoHiem] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuongCoBan]    Script Date: 5/15/2023 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuongCoBan](
	[id] [int] NOT NULL,
	[MaNS] [int] NULL,
	[ThoiGian] [date] NULL,
	[HSL] [float] NULL,
	[Luong] [money] NULL,
	[LuongNS] [money] NULL,
 CONSTRAINT [PK_LuongCoBan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanSu]    Script Date: 5/15/2023 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanSu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaNS] [char](10) NOT NULL,
	[TenNS] [nvarchar](100) NULL,
	[GioiTinh] [bit] NULL,
	[Email] [char](36) NULL,
	[SDT] [char](12) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[NgaySinh] [date] NULL,
	[HinhAnh] [nchar](100) NULL,
	[QueQuan] [nvarchar](200) NULL,
 CONSTRAINT [PK_NhanSu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phat]    Script Date: 5/15/2023 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaPhat] [char](10) NOT NULL,
	[NoiDung] [nvarchar](200) NULL,
 CONSTRAINT [PK_Phat_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Phat] SET (LOCK_ESCALATION = DISABLE)
GO
/****** Object:  Table [dbo].[PhongBan]    Script Date: 5/15/2023 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongBan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaPB] [char](10) NOT NULL,
	[TenPhongBan] [nvarchar](100) NULL,
 CONSTRAINT [PK_PhongBan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhuCapNhanSu]    Script Date: 5/15/2023 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuCapNhanSu](
	[id] [int] NULL,
	[MaNS] [int] NULL,
	[ThoiGian] [date] NULL,
	[HSPC] [float] NULL,
	[Maphucap] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QTChucVu]    Script Date: 5/15/2023 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QTChucVu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaNS] [int] NULL,
	[MaCV] [int] NULL,
	[MaPB] [int] NULL,
	[TGBatDau] [date] NULL,
	[TGKetThuc] [date] NULL,
 CONSTRAINT [PK_QuaTrinhChucVu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QTCongTac]    Script Date: 5/15/2023 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QTCongTac](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaNS] [int] NULL,
	[MaPB] [int] NULL,
	[TGBatDau] [date] NULL,
	[TGKetThuc] [date] NULL,
 CONSTRAINT [PK_QuaTrinhCongTac] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuaTrinhDongBH]    Script Date: 5/15/2023 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuaTrinhDongBH](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaNS] [int] NULL,
	[MaBH] [int] NULL,
	[TGBatDau] [date] NULL,
 CONSTRAINT [PK_QuaTrinhDongBH] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuaTrinhDongThue]    Script Date: 5/15/2023 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuaTrinhDongThue](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaNS] [int] NULL,
	[MaThue] [int] NULL,
	[NgayBD] [date] NULL,
 CONSTRAINT [PK_QuaTrinhDongThue] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuaTrinhLuong]    Script Date: 5/15/2023 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuaTrinhLuong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaNS] [int] NULL,
	[MaHSL] [int] NULL,
	[MaML] [int] NULL,
	[TGBatDau] [date] NULL,
	[TGKetThuc] [date] NULL,
 CONSTRAINT [PK_QuaTrinhLuong] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuaTrinhPhat]    Script Date: 5/15/2023 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuaTrinhPhat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaNS] [int] NULL,
	[MaPhat] [int] NULL,
	[TienPhat] [money] NULL,
	[TGPhat] [date] NULL,
 CONSTRAINT [PK_QuaTrinhPhat] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuaTrinhPhuCap]    Script Date: 5/15/2023 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuaTrinhPhuCap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaNS] [int] NULL,
	[MaPC] [int] NULL,
	[MaHSPC] [int] NULL,
	[TGBatDau] [date] NULL,
	[TGKetThuc] [date] NULL,
 CONSTRAINT [PK_QuaTrinhPhuCap] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuaTrinhThuongPC]    Script Date: 5/15/2023 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuaTrinhThuongPC](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaNS] [int] NULL,
	[TienThuong] [money] NULL,
	[MaThuong] [int] NULL,
	[TGThuong] [date] NULL,
 CONSTRAINT [PK_QuaTrinhThuongPC] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 5/15/2023 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaQuyen] [char](10) NOT NULL,
	[TenQuyen] [nvarchar](100) NULL,
 CONSTRAINT [PK_Quyen] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 5/15/2023 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaQuyen] [int] NULL,
	[MaTK] [char](10) NOT NULL,
	[MaNS] [int] NULL,
	[TaiKhoan] [varchar](50) NULL,
	[MatKhau] [varchar](50) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thue]    Script Date: 5/15/2023 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thue](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaThue] [char](10) NOT NULL,
	[ThueSuat] [int] NOT NULL,
 CONSTRAINT [PK_Thue] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThueNhanSu]    Script Date: 5/15/2023 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThueNhanSu](
	[id] [int] NOT NULL,
	[MaNS] [int] NULL,
	[Thúeuat] [int] NULL,
	[TienThue] [money] NULL,
 CONSTRAINT [PK_ThueNhanSu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuongPCKhac]    Script Date: 5/15/2023 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuongPCKhac](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaThuong] [char](10) NOT NULL,
	[NoiDung] [nvarchar](200) NULL,
 CONSTRAINT [PK_ThuongPCKhac] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BaoHiem] ON 

INSERT [dbo].[BaoHiem] ([id], [MaBH], [TGAD], [MucBaoHiem]) VALUES (1, N'BH01      ', CAST(N'2021-07-01' AS Date), 10)
SET IDENTITY_INSERT [dbo].[BaoHiem] OFF
GO
SET IDENTITY_INSERT [dbo].[ChucVu] ON 

INSERT [dbo].[ChucVu] ([id], [MaCV], [TenChucVu]) VALUES (1, N'CV01      ', N'Giám đốc')
INSERT [dbo].[ChucVu] ([id], [MaCV], [TenChucVu]) VALUES (2, N'CV02      ', N'Phó giám đốc')
INSERT [dbo].[ChucVu] ([id], [MaCV], [TenChucVu]) VALUES (3, N'CV03      ', N'Trưởng phòng')
SET IDENTITY_INSERT [dbo].[ChucVu] OFF
GO
SET IDENTITY_INSERT [dbo].[DMHeSoPhuCap] ON 

INSERT [dbo].[DMHeSoPhuCap] ([id], [MaHSPC], [HeSoPhuCap]) VALUES (1, N'HSPC01    ', 2.5)
INSERT [dbo].[DMHeSoPhuCap] ([id], [MaHSPC], [HeSoPhuCap]) VALUES (2, N'HSPC02    ', 3.2)
INSERT [dbo].[DMHeSoPhuCap] ([id], [MaHSPC], [HeSoPhuCap]) VALUES (3, N'HSPC03    ', 3.5)
SET IDENTITY_INSERT [dbo].[DMHeSoPhuCap] OFF
GO
SET IDENTITY_INSERT [dbo].[DMHSLuong] ON 

INSERT [dbo].[DMHSLuong] ([id], [MaHSL], [HeSoLuong]) VALUES (1, N'HSL01     ', 2.6)
INSERT [dbo].[DMHSLuong] ([id], [MaHSL], [HeSoLuong]) VALUES (2, N'HSL02     ', 2.7)
INSERT [dbo].[DMHSLuong] ([id], [MaHSL], [HeSoLuong]) VALUES (3, N'HSL03     ', 2.8)
SET IDENTITY_INSERT [dbo].[DMHSLuong] OFF
GO
SET IDENTITY_INSERT [dbo].[DMLuong] ON 

INSERT [dbo].[DMLuong] ([id], [MaML], [TienLuong], [NgayAD]) VALUES (1, N'ML01      ', 1490008.0000, CAST(N'2019-01-07' AS Date))
INSERT [dbo].[DMLuong] ([id], [MaML], [TienLuong], [NgayAD]) VALUES (2, N'ML02      ', 1800000.0000, CAST(N'2023-01-07' AS Date))
SET IDENTITY_INSERT [dbo].[DMLuong] OFF
GO
SET IDENTITY_INSERT [dbo].[DMMucPhuCap] ON 

INSERT [dbo].[DMMucPhuCap] ([id], [MaPC], [KhoanPhuCap]) VALUES (1, N'PC01      ', N'Xăng xe                                           ')
INSERT [dbo].[DMMucPhuCap] ([id], [MaPC], [KhoanPhuCap]) VALUES (2, N'PC02      ', N'Ăn uống                                           ')
INSERT [dbo].[DMMucPhuCap] ([id], [MaPC], [KhoanPhuCap]) VALUES (3, N'PC03      ', N'Phụ cấp chức vụ                                   ')
SET IDENTITY_INSERT [dbo].[DMMucPhuCap] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanSu] ON 

INSERT [dbo].[NhanSu] ([id], [MaNS], [TenNS], [GioiTinh], [Email], [SDT], [DiaChi], [NgaySinh], [HinhAnh], [QueQuan]) VALUES (1, N'NS001     ', N'Nguyễn Thanh Ý', 1, N'thanhy@gmail.com                    ', N'0303364402  ', N'Nguyễn Trọng Lội HCM', CAST(N'2001-11-09' AS Date), N'/assets/img/avatars/y1.jpg                                                                          ', N'Bình Định')
INSERT [dbo].[NhanSu] ([id], [MaNS], [TenNS], [GioiTinh], [Email], [SDT], [DiaChi], [NgaySinh], [HinhAnh], [QueQuan]) VALUES (2, N'NS002     ', N'Mai Anh Lộc', 1, N'culoc147@gmail.com                  ', N'0394456540  ', N'Huỳnh Thiện Lộc Tân Phú HCM', CAST(N'2001-02-24' AS Date), N'/assets/img/avatars/loc1.png                                                                        ', N'Đăk Lăk')
INSERT [dbo].[NhanSu] ([id], [MaNS], [TenNS], [GioiTinh], [Email], [SDT], [DiaChi], [NgaySinh], [HinhAnh], [QueQuan]) VALUES (3, N'NS003     ', N'Lê Thị Bảo Yến', 0, N'baoyen@gmail.com                    ', N'0345697865  ', NULL, CAST(N'2001-04-10' AS Date), N'/assets/img/avatars/yen2.jpg                                                                        ', N'Đăk Lăk')
GO
SET IDENTITY_INSERT [dbo].[NhanSu] OFF
GO
SET IDENTITY_INSERT [dbo].[Phat] ON 

INSERT [dbo].[Phat] ([id], [MaPhat], [NoiDung]) VALUES (1, N'P01       ', N'Nghỉ không phép')
INSERT [dbo].[Phat] ([id], [MaPhat], [NoiDung]) VALUES (2, N'P02       ', N'Đi làm trễ')
INSERT [dbo].[Phat] ([id], [MaPhat], [NoiDung]) VALUES (3, N'P03       ', N'Làm việc riêng')
SET IDENTITY_INSERT [dbo].[Phat] OFF
GO
SET IDENTITY_INSERT [dbo].[PhongBan] ON 

INSERT [dbo].[PhongBan] ([id], [MaPB], [TenPhongBan]) VALUES (1, N'PB01      ', N'Nhân sự')
INSERT [dbo].[PhongBan] ([id], [MaPB], [TenPhongBan]) VALUES (2, N'PB02      ', N'Tài chính')
INSERT [dbo].[PhongBan] ([id], [MaPB], [TenPhongBan]) VALUES (3, N'PB03      ', N'Kế hoạch')
SET IDENTITY_INSERT [dbo].[PhongBan] OFF
GO
SET IDENTITY_INSERT [dbo].[QTChucVu] ON 

INSERT [dbo].[QTChucVu] ([id], [MaNS], [MaCV], [MaPB], [TGBatDau], [TGKetThuc]) VALUES (1, 2, 1, 3, CAST(N'2021-01-01' AS Date), CAST(N'2023-01-01' AS Date))
INSERT [dbo].[QTChucVu] ([id], [MaNS], [MaCV], [MaPB], [TGBatDau], [TGKetThuc]) VALUES (2, 1, 1, 1, CAST(N'2021-01-01' AS Date), CAST(N'2023-01-01' AS Date))
INSERT [dbo].[QTChucVu] ([id], [MaNS], [MaCV], [MaPB], [TGBatDau], [TGKetThuc]) VALUES (3, 3, 2, 1, CAST(N'2021-01-01' AS Date), CAST(N'2023-12-31' AS Date))
GO
SET IDENTITY_INSERT [dbo].[QTChucVu] OFF
GO
SET IDENTITY_INSERT [dbo].[QTCongTac] ON 

INSERT [dbo].[QTCongTac] ([id], [MaNS], [MaPB], [TGBatDau], [TGKetThuc]) VALUES (1, 2, 3, CAST(N'2021-01-01' AS Date), CAST(N'2023-01-01' AS Date))
INSERT [dbo].[QTCongTac] ([id], [MaNS], [MaPB], [TGBatDau], [TGKetThuc]) VALUES (2, 1, 1, CAST(N'2021-01-01' AS Date), CAST(N'2023-01-01' AS Date))
INSERT [dbo].[QTCongTac] ([id], [MaNS], [MaPB], [TGBatDau], [TGKetThuc]) VALUES (3, 10, 5, CAST(N'2022-06-01' AS Date), CAST(N'2023-12-31' AS Date))
GO
SET IDENTITY_INSERT [dbo].[QTCongTac] OFF
GO
SET IDENTITY_INSERT [dbo].[QuaTrinhDongBH] ON 

INSERT [dbo].[QuaTrinhDongBH] ([id], [MaNS], [MaBH], [TGBatDau]) VALUES (1, 1, NULL, CAST(N'2121-01-01' AS Date))
INSERT [dbo].[QuaTrinhDongBH] ([id], [MaNS], [MaBH], [TGBatDau]) VALUES (2, 2, NULL, CAST(N'2121-01-01' AS Date))
SET IDENTITY_INSERT [dbo].[QuaTrinhDongBH] OFF
GO
SET IDENTITY_INSERT [dbo].[QuaTrinhDongThue] ON 

INSERT [dbo].[QuaTrinhDongThue] ([id], [MaNS], [MaThue], [NgayBD]) VALUES (1, 1, NULL, CAST(N'2121-01-01' AS Date))
INSERT [dbo].[QuaTrinhDongThue] ([id], [MaNS], [MaThue], [NgayBD]) VALUES (2, 2, NULL, CAST(N'2121-01-01' AS Date))
SET IDENTITY_INSERT [dbo].[QuaTrinhDongThue] OFF
GO
SET IDENTITY_INSERT [dbo].[QuaTrinhLuong] ON 

INSERT [dbo].[QuaTrinhLuong] ([id], [MaNS], [MaHSL], [MaML], [TGBatDau], [TGKetThuc]) VALUES (1, 1, 15, 1, CAST(N'2021-01-01' AS Date), CAST(N'2023-12-31' AS Date))
INSERT [dbo].[QuaTrinhLuong] ([id], [MaNS], [MaHSL], [MaML], [TGBatDau], [TGKetThuc]) VALUES (2, 2, 15, 1, CAST(N'2021-01-01' AS Date), CAST(N'2023-12-31' AS Date))
INSERT [dbo].[QuaTrinhLuong] ([id], [MaNS], [MaHSL], [MaML], [TGBatDau], [TGKetThuc]) VALUES (3, 3, 14, 1, CAST(N'2021-01-01' AS Date), CAST(N'2023-12-31' AS Date))
GO
SET IDENTITY_INSERT [dbo].[QuaTrinhLuong] OFF
GO
SET IDENTITY_INSERT [dbo].[QuaTrinhPhat] ON 

INSERT [dbo].[QuaTrinhPhat] ([id], [MaNS], [MaPhat], [TienPhat], [TGPhat]) VALUES (1, 1, NULL, NULL, NULL)
INSERT [dbo].[QuaTrinhPhat] ([id], [MaNS], [MaPhat], [TienPhat], [TGPhat]) VALUES (2, 2, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[QuaTrinhPhat] OFF
GO
SET IDENTITY_INSERT [dbo].[QuaTrinhPhuCap] ON 

INSERT [dbo].[QuaTrinhPhuCap] ([id], [MaNS], [MaPC], [MaHSPC], [TGBatDau], [TGKetThuc]) VALUES (1, 1, 1, 1, CAST(N'2021-01-01' AS Date), CAST(N'2023-12-31' AS Date))
INSERT [dbo].[QuaTrinhPhuCap] ([id], [MaNS], [MaPC], [MaHSPC], [TGBatDau], [TGKetThuc]) VALUES (2, 2, 1, 2, CAST(N'2021-01-01' AS Date), CAST(N'2023-12-31' AS Date))
INSERT [dbo].[QuaTrinhPhuCap] ([id], [MaNS], [MaPC], [MaHSPC], [TGBatDau], [TGKetThuc]) VALUES (4, 3, 1, 1, CAST(N'2021-01-01' AS Date), CAST(N'2023-12-31' AS Date))
GO
SET IDENTITY_INSERT [dbo].[QuaTrinhPhuCap] OFF
GO
SET IDENTITY_INSERT [dbo].[Quyen] ON 

INSERT [dbo].[Quyen] ([id], [MaQuyen], [TenQuyen]) VALUES (1, N'Q01       ', N'Giám đốc')
INSERT [dbo].[Quyen] ([id], [MaQuyen], [TenQuyen]) VALUES (2, N'Q02       ', N'Trưởng phòng')
INSERT [dbo].[Quyen] ([id], [MaQuyen], [TenQuyen]) VALUES (3, N'Q03       ', N'Nhân viên')
SET IDENTITY_INSERT [dbo].[Quyen] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([id], [MaQuyen], [MaTK], [MaNS], [TaiKhoan], [MatKhau]) VALUES (1, 1, N'TK01      ', 1, N'Truongphong01', N'123456')
INSERT [dbo].[TaiKhoan] ([id], [MaQuyen], [MaTK], [MaNS], [TaiKhoan], [MatKhau]) VALUES (2, 2, N'TK02      ', 2, N'GiamDoc01', N'123456')
INSERT [dbo].[TaiKhoan] ([id], [MaQuyen], [MaTK], [MaNS], [TaiKhoan], [MatKhau]) VALUES (3, NULL, N'TK03      ', NULL, N'Truongphong02', N'123456')
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[Thue] ON 

INSERT [dbo].[Thue] ([id], [MaThue], [ThueSuat]) VALUES (7, N'T01       ', 5)
INSERT [dbo].[Thue] ([id], [MaThue], [ThueSuat]) VALUES (8, N'T02       ', 10)
INSERT [dbo].[Thue] ([id], [MaThue], [ThueSuat]) VALUES (9, N'T03       ', 15)
SET IDENTITY_INSERT [dbo].[Thue] OFF
GO
SET IDENTITY_INSERT [dbo].[ThuongPCKhac] ON 

INSERT [dbo].[ThuongPCKhac] ([id], [MaThuong], [NoiDung]) VALUES (1, N'TH01      ', N'Tăng ca')
INSERT [dbo].[ThuongPCKhac] ([id], [MaThuong], [NoiDung]) VALUES (2, N'TH02      ', N'Làm ngày lễ')
INSERT [dbo].[ThuongPCKhac] ([id], [MaThuong], [NoiDung]) VALUES (3, N'THG01     ', N'Tiếp khách hàng')
SET IDENTITY_INSERT [dbo].[ThuongPCKhac] OFF
GO
ALTER TABLE [dbo].[DongBaoHiem]  WITH CHECK ADD  CONSTRAINT [FK_DongBaoHiem_NhanSu] FOREIGN KEY([MaNS])
REFERENCES [dbo].[NhanSu] ([id])
GO
ALTER TABLE [dbo].[DongBaoHiem] CHECK CONSTRAINT [FK_DongBaoHiem_NhanSu]
GO
ALTER TABLE [dbo].[LuongCoBan]  WITH CHECK ADD  CONSTRAINT [FK_LuongCoBan_NhanSu] FOREIGN KEY([MaNS])
REFERENCES [dbo].[NhanSu] ([id])
GO
ALTER TABLE [dbo].[LuongCoBan] CHECK CONSTRAINT [FK_LuongCoBan_NhanSu]
GO
ALTER TABLE [dbo].[PhuCapNhanSu]  WITH CHECK ADD  CONSTRAINT [FK_PhuCapNhanSu_NhanSu] FOREIGN KEY([MaNS])
REFERENCES [dbo].[NhanSu] ([id])
GO
ALTER TABLE [dbo].[PhuCapNhanSu] CHECK CONSTRAINT [FK_PhuCapNhanSu_NhanSu]
GO
ALTER TABLE [dbo].[QTChucVu]  WITH CHECK ADD  CONSTRAINT [FK_QTChucVu_PhongBan] FOREIGN KEY([MaPB])
REFERENCES [dbo].[PhongBan] ([id])
GO
ALTER TABLE [dbo].[QTChucVu] CHECK CONSTRAINT [FK_QTChucVu_PhongBan]
GO
ALTER TABLE [dbo].[QTChucVu]  WITH CHECK ADD  CONSTRAINT [FK_QuaTrinhChucVu_ChucVu] FOREIGN KEY([MaCV])
REFERENCES [dbo].[ChucVu] ([id])
GO
ALTER TABLE [dbo].[QTChucVu] CHECK CONSTRAINT [FK_QuaTrinhChucVu_ChucVu]
GO
ALTER TABLE [dbo].[QTChucVu]  WITH CHECK ADD  CONSTRAINT [FK_QuaTrinhChucVu_NhanSu] FOREIGN KEY([MaNS])
REFERENCES [dbo].[NhanSu] ([id])
GO
ALTER TABLE [dbo].[QTChucVu] CHECK CONSTRAINT [FK_QuaTrinhChucVu_NhanSu]
GO
ALTER TABLE [dbo].[QTCongTac]  WITH CHECK ADD  CONSTRAINT [FK_QuaTrinhCongTac_NhanSu] FOREIGN KEY([MaNS])
REFERENCES [dbo].[NhanSu] ([id])
GO
ALTER TABLE [dbo].[QTCongTac] CHECK CONSTRAINT [FK_QuaTrinhCongTac_NhanSu]
GO
ALTER TABLE [dbo].[QTCongTac]  WITH CHECK ADD  CONSTRAINT [FK_QuaTrinhCongTac_PhongBan] FOREIGN KEY([MaPB])
REFERENCES [dbo].[PhongBan] ([id])
GO
ALTER TABLE [dbo].[QTCongTac] CHECK CONSTRAINT [FK_QuaTrinhCongTac_PhongBan]
GO
ALTER TABLE [dbo].[QuaTrinhDongBH]  WITH CHECK ADD  CONSTRAINT [FK_QuaTrinhDongBH_BaoHiem] FOREIGN KEY([MaBH])
REFERENCES [dbo].[BaoHiem] ([id])
GO
ALTER TABLE [dbo].[QuaTrinhDongBH] CHECK CONSTRAINT [FK_QuaTrinhDongBH_BaoHiem]
GO
ALTER TABLE [dbo].[QuaTrinhDongBH]  WITH CHECK ADD  CONSTRAINT [FK_QuaTrinhDongBH_NhanSu] FOREIGN KEY([MaNS])
REFERENCES [dbo].[NhanSu] ([id])
GO
ALTER TABLE [dbo].[QuaTrinhDongBH] CHECK CONSTRAINT [FK_QuaTrinhDongBH_NhanSu]
GO
ALTER TABLE [dbo].[QuaTrinhDongThue]  WITH CHECK ADD  CONSTRAINT [FK_QuaTrinhDongThue_NhanSu] FOREIGN KEY([MaNS])
REFERENCES [dbo].[NhanSu] ([id])
GO
ALTER TABLE [dbo].[QuaTrinhDongThue] CHECK CONSTRAINT [FK_QuaTrinhDongThue_NhanSu]
GO
ALTER TABLE [dbo].[QuaTrinhDongThue]  WITH CHECK ADD  CONSTRAINT [FK_QuaTrinhDongThue_Thue] FOREIGN KEY([MaThue])
REFERENCES [dbo].[Thue] ([id])
GO
ALTER TABLE [dbo].[QuaTrinhDongThue] CHECK CONSTRAINT [FK_QuaTrinhDongThue_Thue]
GO
ALTER TABLE [dbo].[QuaTrinhLuong]  WITH CHECK ADD  CONSTRAINT [FK_QuaTrinhLuong_DMHSLuong] FOREIGN KEY([MaHSL])
REFERENCES [dbo].[DMHSLuong] ([id])
GO
ALTER TABLE [dbo].[QuaTrinhLuong] CHECK CONSTRAINT [FK_QuaTrinhLuong_DMHSLuong]
GO
ALTER TABLE [dbo].[QuaTrinhLuong]  WITH CHECK ADD  CONSTRAINT [FK_QuaTrinhLuong_DMLuong] FOREIGN KEY([MaML])
REFERENCES [dbo].[DMLuong] ([id])
GO
ALTER TABLE [dbo].[QuaTrinhLuong] CHECK CONSTRAINT [FK_QuaTrinhLuong_DMLuong]
GO
ALTER TABLE [dbo].[QuaTrinhLuong]  WITH CHECK ADD  CONSTRAINT [FK_QuaTrinhLuong_NhanSu] FOREIGN KEY([MaNS])
REFERENCES [dbo].[NhanSu] ([id])
GO
ALTER TABLE [dbo].[QuaTrinhLuong] CHECK CONSTRAINT [FK_QuaTrinhLuong_NhanSu]
GO
ALTER TABLE [dbo].[QuaTrinhPhat]  WITH CHECK ADD  CONSTRAINT [FK_QuaTrinhPhat_NhanSu] FOREIGN KEY([MaNS])
REFERENCES [dbo].[NhanSu] ([id])
GO
ALTER TABLE [dbo].[QuaTrinhPhat] CHECK CONSTRAINT [FK_QuaTrinhPhat_NhanSu]
GO
ALTER TABLE [dbo].[QuaTrinhPhat]  WITH CHECK ADD  CONSTRAINT [FK_QuaTrinhPhat_Phat1] FOREIGN KEY([MaPhat])
REFERENCES [dbo].[Phat] ([id])
GO
ALTER TABLE [dbo].[QuaTrinhPhat] CHECK CONSTRAINT [FK_QuaTrinhPhat_Phat1]
GO
ALTER TABLE [dbo].[QuaTrinhPhuCap]  WITH CHECK ADD  CONSTRAINT [FK_QuaTrinhPhuCap_DMHeSoPhuCap] FOREIGN KEY([MaHSPC])
REFERENCES [dbo].[DMHeSoPhuCap] ([id])
GO
ALTER TABLE [dbo].[QuaTrinhPhuCap] CHECK CONSTRAINT [FK_QuaTrinhPhuCap_DMHeSoPhuCap]
GO
ALTER TABLE [dbo].[QuaTrinhPhuCap]  WITH CHECK ADD  CONSTRAINT [FK_QuaTrinhPhuCap_DMMucPhuCap] FOREIGN KEY([MaPC])
REFERENCES [dbo].[DMMucPhuCap] ([id])
GO
ALTER TABLE [dbo].[QuaTrinhPhuCap] CHECK CONSTRAINT [FK_QuaTrinhPhuCap_DMMucPhuCap]
GO
ALTER TABLE [dbo].[QuaTrinhPhuCap]  WITH CHECK ADD  CONSTRAINT [FK_QuaTrinhPhuCap_NhanSu] FOREIGN KEY([MaNS])
REFERENCES [dbo].[NhanSu] ([id])
GO
ALTER TABLE [dbo].[QuaTrinhPhuCap] CHECK CONSTRAINT [FK_QuaTrinhPhuCap_NhanSu]
GO
ALTER TABLE [dbo].[QuaTrinhThuongPC]  WITH CHECK ADD  CONSTRAINT [FK_QuaTrinhThuongPC_NhanSu] FOREIGN KEY([MaNS])
REFERENCES [dbo].[NhanSu] ([id])
GO
ALTER TABLE [dbo].[QuaTrinhThuongPC] CHECK CONSTRAINT [FK_QuaTrinhThuongPC_NhanSu]
GO
ALTER TABLE [dbo].[QuaTrinhThuongPC]  WITH CHECK ADD  CONSTRAINT [FK_QuaTrinhThuongPC_ThuongPCKhac] FOREIGN KEY([MaThuong])
REFERENCES [dbo].[ThuongPCKhac] ([id])
GO
ALTER TABLE [dbo].[QuaTrinhThuongPC] CHECK CONSTRAINT [FK_QuaTrinhThuongPC_ThuongPCKhac]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanSu] FOREIGN KEY([MaNS])
REFERENCES [dbo].[NhanSu] ([id])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanSu]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_Quyen] FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[Quyen] ([id])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_Quyen]
GO
ALTER TABLE [dbo].[ThueNhanSu]  WITH CHECK ADD  CONSTRAINT [FK_ThueNhanSu_NhanSu] FOREIGN KEY([MaNS])
REFERENCES [dbo].[NhanSu] ([id])
GO
ALTER TABLE [dbo].[ThueNhanSu] CHECK CONSTRAINT [FK_ThueNhanSu_NhanSu]
GO
