@{
    QuanLyNhanVienContext context = new QuanLyNhanVienContext();
    List<PhongBan> getListPhongBan()
    {
        return context.PhongBan.ToList();
    }
    List<NhanSu> getListNhanSu()
    {
        return context.NhanSu.ToList();
    }
    string formatDay(DateTime? date)
    {
        if (date != null)
        {
            return date.Value.ToString("dd/MM/yyyy");
        }
        else
        {
            return null;
        }
    }
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="border border-dark border-2 p-2 rounded mb-3 bg-light">
                    <form>
                        <div class="row mb-2">
                            <label class="col-sm-1 col-lg-1 col-form-label">Tháng</label>
                            <div class="col-sm-2 col-lg-2">
                                <input class="form-control" name="" id="NgayPhuCap" onblur="loadQTPC()" required/>
                             
                            </div>                        
                            <div class="col-sm-9 col-lg-9 d-flex justify-content-end">
                                <button class="btn btn-primary" onclick="addQTPC()">Chốt phụ cấp</button>
                            </div>
                        </div>
                    </form>
                </div>
             
                <div id="tbodyQTPC">
                    <table id="example"
                           class="table table-bordered table-responsive"
                           width="100%">
                        <thead>
                            <tr>
                                <th class="text-center">Mã NS</th>
                                <th class="text-center">Tên NS</th>
                                <th class="text-center">Ngày sinh</th>
                                <th class="text-center">Giới tính</th>
                                <th class="text-center">Hệ số phụ cấp</th>
                                <th class="text-center">Khoản phụ cấp</th>
                                <th class="text-center">Tiền phụ cấp</th>
                            </tr>
                        </thead>
                        <tbody id="body">
                            <tr>
                                <td class="text-center"></td>
                                <td class="text-left"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-right"></td>
                                <td class="text-right"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var isLoadQTPCInProgress = false;

    function loadQTPC() {
        if (isLoadQTPCInProgress) {
            return; // Nếu hàm đang được gọi, không tiếp tục thực hiện
        }

        isLoadQTPCInProgress = true;

        var Ngay = $('#NgayPhuCap').val();
        $.ajax({
            type: "post",
            url: "/loadQTPC",
            data: "Ngay=" + Ngay,
            success: function (result) {
                $('#tbodyQTPC').replaceWith(result);
                isLoadQTPCInProgress = false; // Đánh dấu hàm đã hoàn thành
            },
            error: function () {
                $('#body').empty();
                $('#example_wrapper').attr('id', 'example1');
                alert("Lương tháng này chưa chốt vui lòng chọn tháng đã chốt lương");
               
                isLoadQTPCInProgress = false; // Đánh dấu hàm đã hoàn thành
            }
        });
    }

    //function loadQTPC() {
    //    var Ngay = $('#NgayPhuCap').val();
    //    $.ajax({
    //        type: "post",
    //        url: "/loadQTPC",
    //        data: "Ngay=" + Ngay,
    //        success: function (result) {
    //            $('#tbodyQTPC').replaceWith(result);
    //        },
    //        error: function () {
    //            alert("Lương tháng này chưa chốt vui lòng chọn tháng đã chôt lương");
    //        }
    //    });
    //}
    function addQTPC() {
        var Ngay = $('#NgayPhuCap').val();
        $.ajax({
            type: "post",
            url: "/addQTPC",
            data: "Ngay=" + Ngay,
            success: function (result) {
                alert("ok");
            },
            error: function () {
                alert("Fail");
            }
        });
    }



 

    
</script>