@{
    QuanLyNhanVienContext context = new QuanLyNhanVienContext();
    LuongCoBan getQTL(int? id, DateTime? ngay)
    {
        LuongCoBan nv = context.LuongCoBan.FirstOrDefault(x => x.MaNs == id && x.ThoiGian == ngay);
        if (nv != null) return nv;
        else return new LuongCoBan();
    }
}
<tbody id="tbodyQTPC">
    @foreach (QuaTrinhPhuCap item in ViewBag.QTPC)
   {
       
   
    <tr>
        <td class="text-center">@item.MaNs</td>
        <td class="text-left"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center">@item.MaHspcNavigation.HeSoPhuCap</td>
        <td class="text-right">@item.MaPcNavigation.KhoanPhuCap</td>
        <td class="text-right">@(item.MaHspcNavigation.HeSoPhuCap * ((double)getQTL(item.MaNs, ViewBag.Ngay).LuongNs)/100)</td>
    </tr>
   }
</tbody>