@model QuanLyNhanVien.Models.DmheSoPhuCap
@{

}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <form action="/HeSoPhuCap/updateHeSoPhuCap" method="post">
                    <div class="forms-header text-center">
                        <h4 class="forms-title">
                            <b>Sửa hệ số phụ cấp</b>
                        </h4>
                    </div>
                    <div class="forms-body">
                        <div class="form-group">
                            <label class="m-2">Mã HSPC</label>
                            <input asp-for="@Model.MaHspc" type="text" class="form-control" required>
                            <input asp-for="@Model.Id" type="hidden" class="form-control" required>
                        </div>
                        <div class="form-group mb-2">
                            <label class="m-2">Hệ số phụ cấp</label>
                            <input asp-for="@Model.HeSoPhuCap" type="text" class="form-control" required>
                        </div>

                    </div>
                    <div class="forms-footer d-flex justify-content-end">

                        <input type="submit"
                               class="btn btn-primary"
                               value="Lưu" />
                    </div>
                </form>
                <button class="btn btn-secondary position-absolute" style="margin-top: -38px;"
                        onclick="window.history.go(-1);">
                    Quay lại
                </button>
            </div>
        </div>
    </div>
</div>